# Python
*.py[codz]
__pycache__/

# PDM
.pdm-python
__pypackages__/

# Virtual environment
.venv/

# Build
build/
dist/
*.egg-info/

# Tools
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Test
.coverage
reports/

# Environment
.env

# OS
.DS_Store
